body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-size: 20px;
  word-spacing: 0.2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gallery {
  display: flex;
}
.gallery-images {
  flex: 1;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
}
.invisible-btn {
  border: none;
  background-color: inherit;
  color: #d8f3dc;
}
.invisible-btn:focus {
  border: none;
  outline: none;
}
.invisible-btn:active {
  color: #95d5b2;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #5e6472;
  text-decoration: none;
  cursor: pointer;
}
.text {
  margin: 10px;
  justify-content: center;
}
.contact-links {
  margin: 10px;
  justify-content: center;
}
.icon {
  margin: 24px;
}
.logoImage {
  margin: auto;
}
.hobbyCard {
  text-align: center;
}
